#div1 {
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	color: white;
	text-align: center;
	font-size: 4em;
	font-weight: bold;
}

#div2 {
	float: right;
	margin-right: 10px;
	margin-top: 10px;
	color: white;
	vertical-align: middle;
	text-align: center;
	font-size: 4em;
	font-weight: bold;
}